<!DOCTYPE html>
<html lang="en-US">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/landing.css" />
    <script type="text/javascript" src="/js/login.js"></script>
</head>

<% var currentOrder = null; %>
<% var pastOrders = []; %>
<% orders.forEach(function (order) { %>
    <% if(order.status != 'completed') { %>
        <% currentOrder = order; %>
    <% } else { %>
        <% pastOrders.push(order); %>
    <% } %>
<% }); %>

<style>
    .rating {
        cursor: pointer;
    }
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
/*
    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        color: yellow;
    }*/
</style>
    <% include templates/facebook.ejs %>
    <div class="container-fluid">
        <% include templates/nav.ejs %>
        <img src="/res/image_yellow.jpg" class="mx-auto d-block" style="height: 100vh; min-height: 100vh">
        <div class="center">
            <div class="outterBox">
                <h1>Current order:</h5>
                <div class="box">
                    <% if(currentOrder) { %>
                        <div class="card">
                            <a href="/order/<%= currentOrder._id %>">
                                <div class="card-body">
                                    <p class="card-text"><%= currentOrder._id %></p>
                                </div>
                            </a>
                        </div>
                    <% } else { %>
                        <div class="card">
                            <a href='/user/newOrder'>
                                <div class="card-body">
                                    <p class="card-text">Order now</p>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>

                <h1>Past order:</h5>
                <div class="box">
                    <% pastOrders.forEach(function(pastOrder) { %>
                        <div class="card">
                            <a href="/order/<%= pastOrder._id %>">
                                <div class="card-body">
                                    <p class="card-text"><%= pastOrder._id %></p>
                                    <% if(pastOrder.feedback && pastOrder.feedback.rating) { %>
                                        <div class="rating float-right" style="font-size:2rem; display: inline-block">
                                            <% for(var i = 0; i < 5; i ++) { %>
                                                <span class="star<%= pastOrder._id %>" id="star<%= pastOrder._id %>_<%= i %>">☆</span>
                                            <% } %>
                                            <!--
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            -->
                                        </div>
                                        <script>
                                            $('.star<%= pastOrder._id %>').css('content', '\2606');
                                            $('.star<%= pastOrder._id %>').css('color', 'black');

                                            for(var i = 0; i < <%= pastOrder.feedback.rating %>; i ++) {
                                                $('#star<%= pastOrder._id %>_' + i).css('content', '\2605');
                                                $('#star<%= pastOrder._id %>_' + i).css('color', 'yellow');
                                            }
                                        </script>
                                    <% } else { %>
                                        <a href="/order/<%= pastOrder._id %>/feedback">
                                            <p class="card-text" style="color: green">Leave feedback!</p>
                                        </a>
                                    <% } %>
                                </div>
                            </a>
                        </div>
                    <% }); %>                    
                </div>
            </div>
        </div>
    </div>
</body>


<% include templates/footer.ejs %>

<script>
    function starsLeft (index) {
        $('.star').css('content', '\2606');
        $('.star').css('color', 'black');

        for(var i = 0; i < index; i ++) {
            $('#star' + i).css('content', '\2605');
            $('#star' + i).css('color', 'yellow');
        }
    }
</script>
</html>